
/* Your CSS Code here. */
.holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
	width:100%;
	padding:0 10px;
     }
.item{
	width:100px;
	height:100px;
	margin:5px;
}
  .item:nth-child(1) {
    background-color: green;
  }
  
  .item:nth-child(2) {
    background-color: red;
  }
  
  .item:nth-child(3) {
    background-color: blue;
  }

